body,html
{
	margin:0%;
	box-sizing: border-box;
	overflow-x: hidden;
}


/*----navbar----*/
.nav-item
{
	padding-right:4rem;
}
.social i
{
	padding-left:1.2rem;
	padding-top: 10px;
	color:#3f4954;
}
.nav-item a:hover
{
	background-color: #eeecda;
}
.social i:hover
{
	color:#a1c4cf;
}
 /*---x--navbar---x-*/

/*----site title ----*/
.site-title
{
	background-image:url('images/banner3.jpg');
	background-size: cover;
	height: 90vh;
	display:flex;
	justify-content: center;

}
.site-background
{
	padding-top: 10rem;
	text-align:center;
	color: white;
}
.site-title h1,h3
{
	margin: .3rem;
}
.site-title h1
{
	font-size:3.5rem;
}
.btn
{
	margin: 0;
	background: linear-gradient(120deg,#a1c4fd 0%,#c2e9fb 100%);

}
button.btn
{
	border:none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor:pointer;
}
 .btn:hover
{
	background: transparent;
	border:1px solid white;
	color:white;
}
/*-----x--site title----x---*/

/*----blog-carousel----*/
.blog
{
	background: url('images/abtract.jpg');
	background-repeat: no-repeat;
	background-position: right;
	height:85vh;
	width :100%;
	background-size:70%;
	right:100%;
}
.blog-post
{
	padding-top: 3rem;

}
.blog-post img
{
	width:100%;
	height:150px;
}
.blog-post .blog-content
{
	display: flex;
    flex-direction: column;
    text-align: center;
	width: 80%;
	margin :2rem 3rem;
	box-shadow: 0 15px 20px rgba(0,0,0,0.2)
}
.blog-title
{
	padding: 2rem 0;
}
.blog-content span
{
	display: block;
}
.container
{
	margin:0 5vw;
}
.container .owl-nav
{
	position: absolute;
	top:0%;
	margin:0 auto;
	width:100%;
}
.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next
{
	color:#3f4954; 
	background:transparent;
	font-size: 2rem;
}
.owl-theme.owl-nav[class='owl-']:hover
{
	background: transparent;
	color: #3f4954;
}
/*---x--blog-carousel---x---*/

/*-----site-content---------*/
.site-content
{
	display: grid;
	grid-template-columns: 70% 30%;
	padding-top: 3rem;
}
.post-content
{
	width:100%;
}
.text-gray
{
	color:#3f4954;
}
.site-content .post-content>.post-image, .post-title
{
  padding: 1rem 2rem;
  position: relative;
}
.site-content .post-content >.post-image .post-info
{
 background: linear-gradient(120deg,#a1c4fd 0%,#c2e9fb 100%);
 padding:1rem ;
 position: absolute;
 bottom:0%;
 left: 10vw;
 border-radius: 3rem;
}
.site-content .post-content>.post-image>div{
	overflow: hidden;
}
.site-content .post-content>.post-image .img
{
	width:100%;
	transition:all 1s ease;
}
.site-content .post-content>.post-image .img:hover
{
	transform: scale(1.3);
}
.site-content .post-content>.post-image .post-info span
{
	margin: 0 .5rem;
}
.post-content .post-title a
{
	font-size:1.5rem;
	color: #3f4954;
}
button.post-btn
{
	border-radius:0;
	padding: .7rem 1.5rem;
	background: linear-gradient(120deg,#a1c4fd 0%,#c2e9fb 100%);

}
p
{
	color: #686666da;
}
.pagination
{
	justify-content: center;
	color:#3f4954;
	margin:4rem 0;
}
.pagination a
{
	padding:.6rem .9rem;
	border:2rem;
	margin:0 .3rem;

}
.pages
{
	background:#3f4954;
	color: white;
	border-radius: 1rem;
}
/*---x-site-content-----x---*/

/*-----sidebar--------*/
.site-content> .sidebar .category-list .list-items
{

  background:linear-gradient(120deg,#a1c4fd 0%,#c2e9fb 100%);
  padding:.4rem 1rem;
  margin:.8rem 0;
  border-radius: 3rem;
  width:140px;
  display:flex;
  justify-content: space-between;

}
.site-content> .sidebar .category-list .list-items a
{
	color:black;
}
.post-content
{
	padding:1rem 0;
}
.popular-post h2
{
	padding-top: 8rem;
}
.sidebar .popular-post .post-info
{
	padding: .4rem .1rem !important;
	bottom:0rem !important;
	left:1.5rem !important;
	border-radius: 0rem !important;
	background: white !important;;
}
.sidebar .popular-post .post-title a
{
 font-size: 1rem;
}
.newsletter1
{
	padding-top:10rem;
}
.form-element
{
	padding: .5rem 2rem;
}
.input-element
{
	width:80%;
	height:1.9rem;
	padding: .3rem .5rem;
	font-size: 1rem;
}
button.form-btn
{
	height: 2.5rem;
	border-radius: 0;
	padding: .6rem 29%;
	margin: 1rem 0;
	background:linear-gradient(120deg,#a1c4fd 0%,#c2e9fb 100%);
}
.popular-tags
{
	padding: 10rem 0;
}
.tags .tag
{
	background: linear-gradient(120deg,#a1c4fd 0%,#c2e9fb 100%);
	padding: .4rem 1rem;
    border-radius: 4rem;
    margin:.4rem .6rem;
    display: inline-flex;


}
/*--x--sidebar-----x--*/
/*-------footer---------*/
footer.footer
{
	height: 100%;
	background: #0f0f0f;
	position: relative;
}
footer.footer .container
{
	display:grid;
	grid-template-columns: repeat(4,1fr);
}
footer.footer .container>div
{
	flex-flow: 1;
	flex-basis: 0;
	padding:3rem .9rem;
}
footer .container h2
{
	color:white;
}
.newsletter .form-element
{
	background: black;
	display: inline-block;
}
.form-element input
{
	padding:.5rem .7rem;
	border:none;
	background: transparent;
	color: white;
	font-size: 1rem;
	width: 75%;
}
.form-element span
{
	background: linear-gradient(120deg,#a1c4fd 0%,#c2e9fb 100%);
	padding: .5rem .7rem;
	cursor: pointer;
}
.instagram div>img
{
display: inline-block;
width: 25%;
height: 50%;
margin: .3rem .4rem;
}
.follow div i
{
	color:white;
	padding: 0 .4rem;
}
.rights
{
	text-align: center;

}
.rights h4 a
{
	color:white;
}
.move-up
{
	position: absolute;
	right:6%;
	top:50%;
}
.move-up span
{
	color:#104f55;
}
.move-up span:hover
{
	color: white;
	cursor:pointer;
}

/*---x---footer----x---*/
/*---minsize view ---*/
@media only screen and (max-width :1150px)
{
  .site-content .post-content >.post-image .post-info
  {

  	left:2rem !important ;
  	bottom: 1.2rem !important ;
  	border-radius: 0% !important;
  }
  .site-content .sidebar .popular-post .post-info
  {
  	display:none !important;
  }
  footer.footer .container
  {
  	grid-template-columns: repeat(2,1fr);
  }
}
@media only screen and (max-width: 520px)
{
	.blog
	{
		height: 125vh;
	}
	.site-content .post-content >.post-image .post-info
	{
		display: none;
	}
	footer.footer .container>div
	{
		padding: 1rem .9rem !important;
	}
	.rights
	{
		padding: 0 1.4rem;
	}
}
@media only screen and (max-width: 750px)
{
	.site-content
	{
		grid-template-columns: 100%;
	}
   footer.footer .container
	{
		grid-template-columns: repeat(1,1fr);
	}
}

/*----x-- size view-----x--*/
